[submodule "ext/le2d"]
	path = ext/le2d
	url = https://github.com/stanplayzz/le2d.git
[submodule "ext/bnet"]
	path = ext/bnet
	url = https://github.com/stanplayzz/bnet
[submodule "ext/reproc"]
	path = ext/reproc
	url = https://github.com/daandemeyer/reproc
